/*-----------------------------
Start Navigation Styles
-----------------------------*/

.navbar
{
    border: 0 solid transparent;
    border-bottom: 1px solid #d7d7d7;
    border-radius: 0;
    background-color: #efeff1;
}

/*
.navbar-nav > li > a, .navbar-brand {
    padding-top:10px !important;
    padding-bottom:0 !important;
    height: 40px;
}
.navbar {min-height:30px !important;}
*/

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form
{
    border-color: #ccc;
}

.navbar-inverse .navbar-nav > li > a
{
    color: #9a9a9a;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus
{
    background-color: transparent;
}

.navbar-inverse .navbar-toggle .icon-bar
{
    background-color: #000;
}

.navbar-toggle
{
    float: left;

    border: none;
}

.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus
{
    background-color: transparent;
}

.navbar-inverse .navbar-brand
{
    font-family: 'Consolas',Helvetica,Arial,sans-serif;
    font-size: 19px;

    color: #000;
}

.navbar-inverse .navbar-brand:hover
{
    color: #000;
}

.navbar-inverse .navbar-nav > #actLII > a
{
    color: #000;
}

.navbar-inverse .navbar-nav > li > a:hover
{
    color: #000;
    background-color: transparent;
}

.navbar-inverse .navbar-nav > li > a:focus
{
    color: #acacac;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:active
{
    color: #000;
    border-right: 1px solid #d7d7d7;
    border-left: 1px solid #d7d7d7;
    background-color: transparent;
}

@media (max-width: 768px)
{
    .nav > li
    {
        text-align: left;
    }
}

.nav-contact
{
    float: right;

    padding: 8px 20px 0 0;
}

code
{
    color: #fff;
    border-radius: 0;
    background-color: #000;
}

.ul-pos
{
    margin-left: -23px;
}

.img-logo
{
    float: left;
}

/*Start Drop Down Animation*/

.theHead
{
    margin-top: 4px;
    margin-bottom: -4px;

    text-align: center;
}



/*
@media only screen and (max-width: 768px) {

.theHead
{
    margin-top: 10px;
	margin-bottom: 9px;
}

}
*/

.rightMenu
{
    position: absolute;
    top: -2px;
    bottom: -90px!important;
    left: 103px;
}

/*.open > .dropdown-toggle.btn-default:focus,
.open > .dropdown-toggle.btn-default:hover
{
    color: #000;
    border: 1px solid #d7d7d7;
    background-color: #efeff1;
}*/

/*.dropdown-menu .divider
{
    background-color: #c4c4c4;
}*/

.shadowBorder
{
    box-shadow: 0 0 4px 2px #b6b6b6;
}

#iep
{
    display: none;
}

/*@media only screen and (min-width: 768px){*/
.open > .dropdown-menu
{
    -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
            transform: scale(1, 1);

    opacity: 1;
}

.dropdown-menu
{
    display: block;

    -webkit-transition: all .2s linear;
            transition: all .2s linear;
    -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: top;
        -ms-transform-origin: top;
            transform-origin: top;

    opacity: .3;
    border-radius: 0;
    outline: none;
    box-shadow: none !important;

    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}
/*}*/

/*End Drop Down Animation*/

/*-----------------------------
End Navigation Styles
-----------------------------*/


/* -----------------------------
Start Content Styles
----------------------------- */
html
{
    position: relative;
    /*overflow-y: scroll;*/

    min-height: 100%;

    cursor: default !important;

    -ms-overflow-style: scrollbar;
}

body
{
    margin-bottom: 60px;

    background-color: #fbfbfb;
}


/*New Main Page*/

#main-page
{
    font-family: Consolas,monaco,monospace;

    background: url(../img/bg-1.png) repeat;
}

#main-page #footer
{
    border-top: 1px solid transparent;
    background-color: transparent;
}

#main-page #footer a
{
    text-decoration: underline;

    color: #ccc;
}

#main-page #footer a:focus,
#main-page #footer a:hover,
#main-page #footer a:visited
{
    color: #ccc;
}

#main-page #footer p
{
    color: #ccc;
}

#mPcont p
{
    color: #323232;
}

#mPcont h1
{
    color: #282c34;
}

#mPcont .panel
{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    width: 400px;
    margin: auto;

    box-shadow: 0 0 20px #000;
}

#mPcont hr
{
    margin: 18px 0;

    border-width: 1px 0;
    border-style: solid none;
    border-color: #eaeaea
    -moz-use-text-color #eaeaea;
}

.avatar img
{
    width: 150px;
    height: 150px;

    border: 1px solid #282c34;
    border-radius: 100%;
}

#mPcont ul li
{
    position: relative;
    right: 18px;

    display: inline;

    padding-left: 5px;
}

@media (max-width:408px)
{
    #mPcont .panel
    {
        width: 100%;
    }
}

@media (max-height:455px)
{
    #main-page
    {
        min-height: 400px;
    }
}

@media (max-width:308px)
{
    #mPcont .panel,
    #main-page #footer
    {
        min-width: 400px;
    }
}

/*New Main Page*/



@media only screen and (max-width: 992px)
{
    #sidebar
    {
        display: none;
    }
    .col-md-4
    {
        margin-top: -10px!important;
    }
}


/* Scroll TOP */
.scroll-top-page
{
    font-size: 18px;
}

.scroll-top-page .glyphicon
{
    color: #c7c7c7;
}

.scroll-top-page .glyphicon:hover,
.scroll-top-page .glyphicon:focus,
.scroll-top-page .glyphicon:active
{
    color: #337ab7;
}
/* Scroll TOP */


/*carousel*/
.carousel-control.left,
.carousel-control.right
{
    background-image: none;
}

.carousel-inner > .item > img
{
    margin: 0 auto;
}

.carousel-control
{
    top: 50%;

    width: auto;
    height: 1em;

    background: transparent;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right
{
    position: static;

    display: block;

    width: auto;
}

.carousel-control .glyphicon-chevron-left:before
{
    margin-left: -4px;
}

.carousel-indicators
{
    bottom: -40px;
}

.carousel-indicators li
{
    background-color: #999;
    background-color: rgba(70,70,70,.25);
}

.carousel-indicators .active
{
    background-color: #2b3e50;
}

.carousel-indicators
{
    bottom: -50px;
}

.carousel-indicators li
{
    border-color: #999;
    background-color: #ccc;
}

.carousel-inner
{
    margin-bottom: 50px;
}

/*carousel*/


/*bs-docs sidebar*/
.bs-docs-sidebar
{
    margin-top: 45px;
    margin-bottom: 20px;
    padding-left: 20px;
}

.bs-docs-sidebar .nav > li > a
{
    font-size: 14px;
    font-weight: 400;

    padding: 4px 20px;

    color: #888;
    border-left: 2px solid transparent;
}

.bs-docs-sidebar .nav .nav > li > a
{
    font-size: 13px;

    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
}

.bs-docs-sidebar .nav > .active > a,
.bs-docs-sidebar .nav > li > a:hover,
.bs-docs-sidebar .nav > li > a:focus
{
    text-decoration: none;

    color: #337ab7;
    border-left-color: #337ab7;
    background-color: transparent;
}

.bs-docs-sidebar .nav > .active > a,
.bs-docs-sidebar .nav > .active:hover > a,
.bs-docs-sidebar .nav > .active:focus > a
{
    font-weight: bold;
}

.bs-docs-sidebar .nav .nav > .active > a,
.bs-docs-sidebar .nav .nav > .active:hover > a,
.bs-docs-sidebar .nav .nav > .active:focus > a
{
    font-weight: 500;
}

.bs-docs-sidebar .nav ul.nav
{
    display: none;
}

.bs-docs-sidebar .nav > .active > ul.nav
{
    display: block;
}

.fixed
{
    position: fixed;
}
/*bs-docs sidebar*/


/*tables*/
#tableFAQ > td > a
{
    text-decoration: none!important;
}

#tableFAQ > td
{
    cursor: default;
}

#tableFAQ .table
{
    table-layout: fixed;

    word-wrap: break-word;
}

#tableFAQ > .table-bordered > thead > tr > td,
#tableFAQ > .table-bordered > tbody > tr > td,
#tableFAQ > .table-bordered > tfoot > tr > td
{
    border: 1px solid #b4b4b5;
}

#tableFAQ tbody td
{
    background-color: transparent;
}

#tableFAQ table
{
    border: 1px solid #ddd;
}

#tableFAQ p
{
    margin: 0;
}

.project-number
{
    text-align: center;
}

.project-descriprion,
.project-number,
.project-name
{
    background-color: #efeff1;
}

@media only screen and (min-width: 1599px)
{
    .table-width
    {
        width: 100%;
    }
}

@media only screen and (max-width: 1366px)
{
    .table-width
    {
        width: 80%;
    }
}

.table-scroll
{
    overflow: auto;
}

#mPcont table
{
    margin: auto;
}

.table-bordered,
.table-bordered > tbody > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th
{
    border: 1px solid #b4b4b5;
}

/*table modal*/
#tableModal > .table > thead > tr > th
{
    vertical-align: bottom;

    border-bottom: 0 solid #ddd;
}

#tableModal > td > a
{
    text-decoration: none!important;
}

#tableModal > td
{
    cursor: default;
}

#tableSized th
{
    width: 50%;

    cursor: default;
    text-align: center;
}

#tableSized td
{
    text-align: center;
}

#tableSized
{
    position: relative;
    top: 50px;

    width: 40%;
}

@media only screen and (min-width: 1599px)
{
    #tableSized
    {
        top: 100px;

        width: 60%;
    }
}

@media only screen and (max-width: 1025px)
{
    #tableSized
    {
        width: 85%;
        padding-bottom: 70px;
    }
}

@media only screen and (max-width: 740px)
{
    #tableSized
    {
        padding-bottom: 100px;
    }
}

#tableModal .table
{
    table-layout: fixed;

    word-wrap: break-word;
}

#tableModal > .table-bordered > thead > tr > th,
#tableModal > .table-bordered > tbody > tr > th,
#tableModal > .table-bordered > tfoot > tr > th,
#tableModal > .table-bordered > thead > tr > td,
#tableModal > .table-bordered > tbody > tr > td,
#tableModal > .table-bordered > tfoot > tr > td
{
    border: 1px solid #b4b4b5;
}

#tableModal thead th
{
    color: #3e3e3e;
    background-color: #efeff1;
}

#tableModal tbody td
{
    background-color: transparent;
}

#tableModal table
{
    border: 1px solid #ddd;
}

#tableModal thead
{
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

.close
{
    position: relative;

    border: 0 outset transparent;
}

.close:focus
{
    outline: none!important;
}

.modal-header
{
    padding: 10px;

    border-bottom: 1px solid #d7d7d7;
}

.modal-footer
{
    padding: 1px;

    border-top: 0 solid transparent;
}

#tableModal,
#tableModal tr:first-child > th
{
    width: 100%;

    text-align: center;
}

#tableModal p
{
    margin: 0;
}
/*tables*/

#aglDiplay,
#rasDiplay,
#displayMainImage
{
    display: none;
}

.rowfix
{
    margin-bottom: 30px;
}

.container .rowfix
{
    margin-bottom: 30px;
}

.bg-success
{
    padding: 10px;
}

.bg-success > a
{
    text-decoration: none;
}

.thumbnail
{
    border-radius: 0;
}

.center-block
{
    float: none;
}

#mPcont .row
{
    text-align: center;
}

#mPcont .thumbnail
{
    display: inline-block;

    text-align: center;

    background-color: #fff;
}

#mPcont .row
{
    margin-right: 0;
    margin-left: 0;
}

.label
{
    position: relative;
    top: -2px;
    bottom: 2px;
}


/*История версий*/

.changes
{
    line-height: 1.7em;

    padding-top: 6px;
}

.changes > li
{
    position: relative;

    margin-bottom: 15px;
    padding-left: 60px;

    list-style: none;
}

.change-label-container
{
    position: absolute;
    left: 0;

    width: 50px;
}



.change-label
{
    font-family: 'Consolas',Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-style: normal;

    position: absolute;
    right: 0;

    display: inline-block;

    width: 85px;
    padding: 1px 8px;

    text-align: center;

    color: #fff;
    border-radius: 2px;
}

.change-fixed
{
    background-color: #f2a522;
}

.change-improved
{
    background-color: #3575d5;
}

.change-removed
{
    background-color: #e14d3a;
}

.change-added
{
    background-color: #6fb00d;
    /*background:rgba(111,176,13,0.9);*/
}

/*История версий*/


/*.label-success
{
    margin-left: 5px;
}
.label-danger
{
    margin-left: 20px;
}

.label-primary
{
    margin-left: 12px;

}*/

.modal-content
{
    border-radius: 0;
}

.modal-dialog
{
    width: 30%;
}

@media (max-width: 1000px)
{
    .modal-dialog
    {
        width: 95%;
    }
}

.listStyles
{
    list-style: decimal;
}

.group
{
    width: 200px;
    height: 500px;

    background: yellow;
}

.group .subgroup
{
    width: 150px;
    height: 200px;

    background: orange;
}

img,
video
{
    max-width: 100%;
    height: auto;
}

/*NEW BLOCK*/

div.tooltip-inner
{
    max-width: 555px;

    background: transparent;
}

/*.fade.in
{
opacity: 1;
}*/

/*NEW BLOCK*/

a
{
    outline: none!important;
}

.modal-body a:focus,
.modal-body a:hover,
.modal-body a:visited
{
    text-decoration: none;
}

.thumbnail
{
    max-width: 100%;
    height: auto;
}

.modal-title
{
    text-align: center;
}

#squareULS ul
{
    list-style-type: circle;
}

#squareULS
{
    margin-top: 50px;
    margin-bottom: 70px;
}

.panel
{
    border-radius: 0!important;
}

.change-cursor
{
    cursor: pointer;
}

.panel-heading
{
    border-radius: 0!important;
    background-color: #efeff1;
}

.panel-title > a:hover,
.panel-title > a:focus,
.panel-title > a:active
{
    text-decoration: none;
}

.glyphicon
{
    color: #000;
}

/*buttons*/

.btn-primary
{
    color: #fff;
    border: 1px solid #337ab7;
    background-color: #337ab7;
}

.btn-primary:hover
{
    color: #fff;
    border: 1px solid #337ab7;
    background-color: #337ab7;
}

.btn-primary:focus
{
    color: #fff;
    border: 1px solid #337ab7;
    outline: none!important;
    background-color: #337ab7;
}

.btn-primary:active
{
    color: #fff !important;
    border: 1px solid #337ab7 !important;
    outline: none !important;
    background-color: #2e6da4 !important;
    box-shadow: none !important;
}

/*buttons*/

.btn
{
    border-radius: 0;
}

.btn-success
{
    font-size: 12px;

    padding: 1px 5px;
}


.more-info
{
    position: relative;
    bottom: 11px;
    /*    left: 1px;*/
}

.more-info a,
.more-info a:focus,
.more-info a:visited
{
    color: #b8b8b8;
}

.more-info a:hover
{
    color: #919191;
}


/*-----------------------------
End Content Styles
-----------------------------*/


/*-----------------------------
Start Footer Styles
-----------------------------*/
#footer
{
    position: absolute;
    bottom: 0;

    width: 100%;
    height: auto;
    padding-top: 14px;

    text-align: center;

    border-top: 1px solid #d7d7d7;
    background-color: #efeff1;
}

#footer a
{
    text-decoration: underline;

    color: #000;
}

#footer a:focus,
#footer a:hover,
#footer a:visited
{
    text-decoration: underline;

    color: #000;
}

#footer p
{
    color: #000;
}

.SVK
{
    padding-right: 10%;
    padding-left: 10%;
}

/*-----------------------------
End Footer Styles
-----------------------------*/


/*-----------------------------
Start Error Styles
-----------------------------*/

#error-page img
{
    max-width: 100%;
    height: auto;
}

#error-page
{
    background-color: #21232a;
}

#error-page .btn-primary
{
    font-size: 20px;
}

#error-page .glyphicon
{
    color: #fff;
}

#error-page .error
{
    padding: 19% 0 20px 0;
}

#error-page .error-text
{
    font-size: 20px;

    color: #c0c0c0;
}

#error-page h1
{
    font-size: 40px;

    color: #fff;
}

/*-----------------------------
End Error Styles
-----------------------------*/
