body {
	background: url(../../images/bg-1.PNG) repeat;
	    /*-moz-background-size: 100%;
	    /*-webkit-background-size: 100%;
	    /*-o-background-size: 100%;
	    /*background-size: 100%; */
			font-family: Consolas,monaco,monospace;
}

/*html,
body {
  height: 100%;
}*/

#main{
	position: fixed;
	background-color: #fff;
	text-align: center;
	padding: 10px 10px 0 10px;
	/*opacity: .9;*/
	top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	width: 350px;
	border-radius: 1%;
	 box-shadow: 0 0 20px #000;
}

#main p{
	color: #323232;
}

#main h1{
	color: #282C34;
}

@media (min-width:320px) {
	#main{
		top: 45%;
	}
}

.avatar img{
	height: 150px;
	width: 150px;
	border-radius: 100%;
  border: 1px solid #282C34;
}

a{
   outline: 0;
 }

ul li{
	display: inline;
	position: relative;
	right: 18px;
}

hr{
color: #EAEAEA;
}

#footer {
	position: absolute;
  bottom: 0;
  width: 100%;
	color: #ccc;
	text-align: center;
}
